<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>COVID-19 Test Outcomes</title>

  <link rel="shortcut icon" href="#">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <link rel="stylesheet" type="text/css" href="./static/css/style_influenza.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   
  </head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="navbar-collapse collapse" >
                <a class="nav-link list" href='/'>Covid-19 Test Prediction</a>
                <a class="nav-link list" href='/GDP'>GDP Prediction</a> 
        </div>

</nav>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
<div class="container">

  <div class="row banner">
    <div class="col-md-12 jumbotron text-center">
      <h2 class="banner" > COVID-19 Predictions</h2>

        <!-- Form Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
          <div class="card-body">
            <form action="/symptom" method="POST" class="row">
              <div class="col-sm-12">
                <h4 class="card-header bg-info text-white text-center py-4">
                <strong>COVID-19 symptoms in a person</strong>
                </h4>
                  <div class="col-4">
                    <label for="age_60_and_above" accesskey="s">Age :</label>
                    <select name="age_60_and_above" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="">-- Select One --
                      <option value="0">Below 60</option>
                      <option value="1">Above 60</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <label for="gender" accesskey="s">Gender :</label>
                    <select name="gender" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="">-- Select One --
                      <option value="0">Female</option>
                      <option value="1">Male</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <label for="cough" accesskey="s">Cough :</label>
                    <select name="cough" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="">-- Select One --
                      <option value="0">False</option>
                      <option value="1">True</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <label for="fever" accesskey="s">Fever :</label>
                    <select name="fever" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="">-- Select One --
                      <option value="0">False</option>
                      <option value="1">True</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <label for="sore_throat" accesskey="s">Sore throat :</label>
                    <select name="sore_throat" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="">-- Select One --
                      <option value="0">False</option>
                      <option value="1">True</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <label for="shortness_of_breath" accesskey="s">Shortness of breath :</label>
                    <select name="shortness_of_breath" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="">-- Select One --
                      <option value="0">False</option>
                      <option value="1">True</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <label for="head_ache" accesskey="s">Headache :</label>
                    <select name="head_ache" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="">-- Select One --
                      <option value="0">False</option>
                      <option value="1">True</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <label for="test_indication" accesskey="s">Test Indication :</label>
                    <select name="test_indication" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="">-- Select One --
                      <option value="0">Travel Abroad</option>
                      <option value="1">Contact with confirmed case</option>
                      <option value="2">Other</option>
                    </select>
                  </div>
                </div>
                <br>
                <button class="btn btn-info btn-small" style="font-family: sans-serif" type="submit">SUBMIT</button>
                <br><br>
                </div>
              </form>
              <br>
              <y_predict 0=""></y_predict>
            </div>
          </div>

      </div>
  

</body>

</html>