<!DOCTYPE html>
<html lang="en">

<body id="page-top">
  <div id="wrapper">


    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
        <a href=>COVID-19: Diagnosis</a>
        </ol>

        <!-- Form Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
          <div class="card-body">
            <form action="/symptom.html" method="POST" class="row">
              <div class="col-sm-12">
                <h4 class="card-header bg-info text-white text-center py-4">
                <strong>COVID-19 symptoms in a person</strong>
                </h4>
                  <div class="col-4">
                    <select name="age_60_and_above" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <label for="age_60_and_above">Select an age:</label>
                      <option value="0">Below 60</option>
                      <option value="1">Above 60</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <select name="cough" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Cough</option>
                      <option value="0">False</option>
                      <option value="1">True</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <select name="fever" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Fever</option>
                      <option value="0">False</option>
                      <option value="1">True</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <select name="sore_throat" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Sore Throat</option>
                      <option value="0">False</option>
                      <option value="1">True</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <select name="shortness_of_breath" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Shortness of breath</option>
                      <option value="0">False</option>
                      <option value="1">True</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <select name="head_ache" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Headache</option>
                      <option value="0">False</option>
                      <option value="1">True</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <select name="test_indication" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Test Indication</option>
                      <option value="0">Travel Abroad</option>
                      <option value="1">Contact with confirmed case</option>
                      <option value="2">Other</option>
                    </select>
                  </div>
                </div>
                <br>
                <button class="btn btn-info btn-block" style="font-family: sans-serif" type="submit">SUBMIT</button>
                <br><br>
                </div>
              </form>
            </div>
          </div>

      </div>
    

    </div>
    
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

</body>

</html>