<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Machine Learning - COVID-19</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/ML.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.1.1
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="assets/img/cov-19_1.png" alt="">
        <span>CNBM Analytics </span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href ="/#team">About</a></li>
          <li><a href="/Data">Data</a></li>
          <!--<li><a href="visualizations.html">Visualizations</a></li>-->
          <li class="dropdown"><a href="#"><span>Machine Learning</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>Predictions</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/COVPred">COVID-19 Predictions</a></li>
                  <li><a href="/GDP">GDP Predictions</a></li>
                  
                  
                </ul>
              </li>

              
            </ul>
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->



  <main id="main">
    <section>
      <br>
    <div class="row">
      <!-- Start of container -->
      
<div class="container">
  <article class="description-content row">
    <div class="col-xs-12">
      <h1 class="description-header">Comparison: GDP per Capita and COVID cases</h1>
      <hr class="description-hr"/>
     
    </div>
    <div class="col-md-6">
      <h2 class="comparison-header">Original Cases per Capita</h2>
      <img src="assets/img/Original Cases per Capita (total).png" alt="Original Cases per Capita" class="comparison-image img-responsive">
      <hr class="visible-xs visible-sm">
    </div>
    <div class="col-md-6">
      <h2 class="comparison-header">Original Cases per Capita (Total)</h2>
      <img src="assets/img/Original Cases per Capita(average).png" alt="Original Cases per Capita (total)" class="comparison-image img-responsive">
      <hr class="visible-xs visible-sm">
    </div>
  
    <div class="col-md-12">
      <h2 class="comparison-header">Cases per Capita vs Predicted Cases per Capita</h2>
      <img src="assets/img/TrueCASESvsPredCASES.png" alt="Cases per Capita vs Predicted Cases per Capita" class="comparison-image img-responsive">
    </div>
    <div class="col-md-12">
      <h2 class="comparison-header">Predictive Fit</h2>
      <img src="assets/img/PredVSTrue.png" alt="Predictive Fit" class="comparison-image img-responsive">
    </div>


  </article>
</div>
<!-- End of container  -->

</div>
</section>



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="assets/img/cov-19_1.png" alt="">
              <span>CNBM Analytics</span>
            </a>
            <p>Journey through COVID-19 Data</p>
            <div class="social-links mt-3">
              <a href="https://github.com/chris-inalsingh/Covid19_ML">GitHub</a>
              
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/#hero">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/#team">About us</a></li>
              <!--<li><i class="bi bi-chevron-right"></i> <a href="#">Visualizations</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#portfolio">Previous Work</a></li>-->
              <li><i class="bi bi-chevron-right"></i> <a href="/Data">Data</a></li>
            </ul>
          </div>

  
         
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>FlexStart</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>