<!DOCTYPE html>
<html lang="en">

<!-- <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>My trip to Europe</title> -->

  <!-- Custom fonts for this template-->
  <!-- <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->

  <!-- Page level plugin CSS-->
  <!-- <link href="static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet"> -->

  <!-- Custom styles for this template-->
  <!-- <link href="static/css/sb-admin.css" rel="stylesheet"> -->

<!-- </head> -->

<body id="page-top">
  <div id="wrapper">

<!-- {% extends "layout.html" %}
{% block content %} -->

<!-- <body id="page-top"> -->
    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
        <a href=>COVID-19: Diagnosis</a>
        </ol>

        <!-- Form Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
          <div class="card-body">
            <form action="/index.html" method="POST" class="row">
              <div class="col-sm-12">
                <h4 class="card-header bg-info text-white text-center py-4">
                <strong>Diagnosing COVID-19 infection in persons!</strong>
                </h4>
                  <div class="col-4">
                    <select name="age" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Select your age</option>
                      <option value="0">Below 60</option>
                      <option value="1">Above 60</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <select name="Cough" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Select the symptoms</option>
                      <option value="0">False</option>
                      <option value="1">True</option>
                      <option value="Sore Throat">sore_throat</option>
                      <option value="Shortness of Breath">shortness_of_breath</option>
                      <option value="Headache">head_ache</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <br>
                    <select name="gender" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Select your gender</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <select name="age" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Select your age</option>
                      <option value="0">Below 60</option>
                      <option value="1">Above 60</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <select name="age" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Select your age</option>
                      <option value="0">Below 60</option>
                      <option value="1">Above 60</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <select name="age" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Select your age</option>
                      <option value="0">Below 60</option>
                      <option value="1">Above 60</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <select name="age" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Select your age</option>
                      <option value="0">Below 60</option>
                      <option value="1">Above 60</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <select name="age" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Select your age</option>
                      <option value="0">Below 60</option>
                      <option value="1">Above 60</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <select name="age" class="browser-default custom-select mb-2" style="font-family: sans-serif">
                      <option value="" selected disabled>Select your age</option>
                      <option value="0">Below 60</option>
                      <option value="1">Above 60</option>
                    </select>
                  </div>
                </div>
                <br>
                <button class="btn btn-info btn-block" style="font-family: sans-serif" type="submit">SUBMIT</button>
                <br><br>
                </div>
              </form>
            </div>
          </div>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

</body>

</html>